body {
  color: #31193F;
  margin: 0;
  font-family: sans-serif;
}

.heading {
  color: #9255BA;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  border: 1px solid #B2A1BD;
  font-size: 16px;
  padding: 10px;
  width: 45vw;
  height: 530px;
}

textarea::-webkit-input-placeholder {
  color: #6A4D7C;
}

textarea:-ms-input-placeholder {
  color: #6A4D7C;
}

textarea::placeholder {
  color: #6A4D7C;
}

textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 0 10px #DA84E5;
          box-shadow: 0 0 10px #DA84E5;
  border: 1px solid #DA84E5;
}

.preview {
  border: 1px solid #9255BA;
  overflow: auto;
  padding: 10px;
  width: 45vw;
  height: 530px;
}

.preview * {
  margin-top: 0;
}

.preview code {
  background-color: #C9B9D4;
  padding: 2px;
}

@media screen and (max-width: 920px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  textarea, .preview {
    margin-bottom: 10px;
    width: 85vw;
    height: 390px;
  }
}
